<h3 class="text-info"><%= t "restaurant.view.list_res" %></h3>
<% if @restaurants %>
  <% @restaurants.each do |restaurant| %>
    <div>
      <%= "#{restaurant.name} - #{restaurant.address}" %> -
      <i><%= link_to t("restaurant.view.show_link"), restaurant %></i> -
      <i>
        <%= link_to t("restaurant.view.update_link"), edit_restaurant_path(restaurant) %>
      </i> -
      <i>
        <%= link_to t("restaurant.view.delete_link"), restaurant_path(restaurant), method: :delete %>
      </i>
    </div>
  <% end %>
<% end %>
<p><%= link_to t("restaurant.view.new_link"), new_restaurant_path %></p>
