<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= render "layouts/assets" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <div class="container">
      <header id="header"><%= render "shared/change_locale" %></header>
      <div class="row"><%= render "shared/flash" %></div>
      <%= yield %>
    </div>
  </body>
</html>
